<div class="movie-details-container">
  <img src="{{ data.Poster }}" alt="{{ data.Title }}" />
  <div mat-dialog-content>
    <h1 mat-dialog-title>{{ data.Title }}</h1>
    <div>
      Actors: <span>{{ data.Actors }}</span>
    </div>
    <div>
      Country: <span>{{ data.Country }}</span>
    </div>
    <div>
      Director: <span>{{ data.Director }}</span>
    </div>
    <div>
      Genre: <span>{{ data.Genre }}</span>
    </div>
    <div>
      Type: <span>{{ data.Type }}</span>
    </div>
    <div>
      Website: <span>{{ data.Website }}</span>
    </div>
    <div>
      Writer: <span>{{ data.Writer }}</span>
    </div>
    <div>
      imdbRating: <span>{{ data.imdbRating }}</span>
    </div>
    <div>
      Year: <span>{{ data.Year }}</span>
    </div>
    <div>
      Rated: <span>{{ data.Rated }}</span>
    </div>
    <div>
      Released: <span>{{ data.Released }}</span>
    </div>
    <div>
      Runtime: <span>{{ data.Runtime }}</span>
    </div>
    <div>
      {{ data.Ratings[0].Source }}: <span>{{ data.Ratings[0].Value }}</span>
    </div>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close>Close</button>
    </div>
  </div>
</div>
