

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: url(assets/images/bg.jpg) #000000 no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
}

@font-face {
  font-family: lato;
  src: url(assets/fonts/Bungee/Bungee-Regular.ttf) format("opentype");
}
